@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import './custom.scss';

:root {
  --purple-cosmos-color: hsl(290, 34%, 10%);
  --sweet-orange-color: hsl(26, 100%, 53%);
}

img {
  pointer-events: none;
  user-select: none;
}

body {
  height: 100vh;
  background: var(--purple-cosmos-color);
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
}

.nav-links {
  color: white;
}

.nav-links:hover {
  color: var(--sweet-orange-color);
}

.nav-links:focus {
  color: var(--sweet-orange-color);
  font-weight: bold;
}

#card-buy {
  width: 25rem;
  margin-bottom: 80px;
}

#main-text-row {
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.8em;
  background: -webkit-linear-gradient(-86deg, #f12711 0%, #ff7d14 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 40px;

}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
  margin-bottom: 20px;
}

.card {
  width: 20rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

#nav {
  width: 100%;
  text-align: center;
  padding: 0;
  color: white;
  margin-top: -12px;
  margin-bottom: 0px;
  font-size: 1.2em;

}


.title-empty {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 5em;
  background: -webkit-linear-gradient(-86deg, #f12711 0%, #ff7d14 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.06em transparent;
  color: var(--purple-cosmos-color);
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 700;
}

@function multiple-box-shadow ($n) {
  $value: '#{random(3000)}px #{random(3000)}px #FFF';

  @for $i from 2 through $n {
    $value: '#{$value} , #{random(3000)}px #{random(3000)}px #FFF';
  }

  @return unquote($value)
}

$shadows-small: multiple-box-shadow(2000);
$shadows-medium: multiple-box-shadow(500);
$shadows-big: multiple-box-shadow(200);

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 75s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#card-sponsors {
  margin-bottom: 40px;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(-1000px)
  }

  to {
    transform: translateY(-4000px)
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 5px);
  }

  to {
    transform: translate(0, -0px);
  }
}

@media only screen and (min-width: 768px) {

  /* tablets and desktop */
  .card {
    width: 20rem;
  }

  #nav {
    font-size: 1.5em;
  }

  .title-empty {
    font-size: 6em;
  }

}

@media only screen and (max-width: 767px) {
  /* phones */

}

@media only screen and (max-width: 767px) and (orientation: portrait) {

  /* portrait phones */

  #card-sponsors {

    .card {
      width: 16rem;
      height: auto;

    }

    .card-title {
      font-size: 1.2em;
    }

    .card-text {
      margin: 0;
      display: none;
    }

    Button {
      margin: 0;
    }
  }

  #main-text-row {
    font-size: 1.4em;
  }

  #card-buy {
    width: 15rem;
  }

}